.select-placeholder,.container-inline-date input{
    border: 1px solid #ada3a3;
    border-radius: 7px;
    display: block;
    padding: 10px 12px;
    color: #716262;
    position: relative;
}
.container-inline-date .form-item,.container-inline-date .date-padding,.container-inline-date .form-item{
    width: 100%;
}
.container-inline-date input{
    height: 45px;
    width: 100% !important;
}
.container-inline-date .description{
    font-size: 12px;
    margin-top: 5px; 
}
.form-select{
    width: 100%;
}
.scrollableList{
    display: none !important;
}
.form-item,.container-inline-date{
    margin: 8px 0 18px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background: white;
    border-radius: 25px;
    color: #ada3a3;
    padding: 5px 10px 0px;
    font-size: 12px;
    margin: 10px 0px 0 5px;
}
.select2-selection__clear{
    display: none;
}
.container-inline-date .form-item.form-item-end-date{
    border-bottom: 1px solid #ada3a3;
    padding: 0 0 40px;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background: white;
}
.select2-results__option{
    color: #716262;
}

.select2-container--default .select2-selection--multiple,.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: none;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{
    margin-left: 0px;
    margin-right: 17px;
    float: left;
    padding: 1px 0;
}
.select2-container{
    border-bottom: 1px solid #ada3a3;
}
.select2-selection{
    pointer-events: none;
}
.select2-selection__choice__remove,.select2-selection__clear{
  width: auto;
  pointer-events: all;
}
.pane-rp-search-form{
    padding: 25px;
}
  .select2-container--default .select2-results__option--highlighted[aria-selected]{
      background-color: transparent;
      color: #716262;
  }
  .select2-container--default .select2-selection--multiple {
      margin-bottom: 10px;
  }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
      border-radius: 4px;
  }

  .select2-container--open .select2-dropdown--below {
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
  }
  .select2-selection .select2-selection--multiple:after {
      content: 'hhghgh';
  }
  /* select with icons badges single*/
  .select-icon .select2-selection__placeholder .badge {
      display: none;
  }
  .select-icon .placeholder {
      display: none;
  }

  .select-icon  .select2-search--dropdown {
      display: none;
  }
  .rp_search_form_submit{
    background: #f38d28 !important;
    width: 100% !important;
    color: white !important;
    margin-top: 43px !important;
    padding: 11px !important;
    border-radius: 25px !important;
    font-size: 19px !important;
    box-shadow: none;
    text-shadow: none !important;
    border-color: #fff !important;
  }
.pane-rp-search-form .pane-title:before{
 display: none;
}
