
// ----------------------------------------------
//                  Colors
// ----------------------------------------------
$dark-blue: #3e4c61;
$green: #2eacb4;
$light-gray: #f2f3f4;
$fade-gray: #a7acb4;
$gray: #787878;
$black: #333e4e;
$light-green: #d3e8ec;
$facebook: #3b5998;
$twitter: #00aced;
$bg_icon: #d3e8ec;
$light-red: #cc5960;
$blue: #0566aa;
$yellow: #f38d28;