        /**head to head**/
        /* 
 *  Mixins for this page
 *  ----------------------------------
 *  1. col-top
 *  2. center-wrapper
 *  3. col-first
 *  4. col-last    
    5. all-col
 *
 *  Content
 *  ----------------------------------
 *  body.node-type-head-to-head {}
*/
        
        // -----------------------------------------------
        //                   mixins for this page
        // -----------------------------------------------
        @mixin local-panel-col-top {
            .panel-col-top {
                position: relative;
                .pane-node-title {
                    max-height: 180px;
                    overflow: hidden;
                    bottom: 0px;
                    background-color: rgba(23, 22, 22, 0.7) !important;
                    position: absolute;
                    padding-top: 0px;
                    border-top: 0px;
                    margin-bottom: 0px;
                    width: 100%;
                    border: none !important;
                    h2 {
                        margin-top: 10px !important;
                        margin-right: 10px !important;
                        color: white;
                        font-size: 50px;
                        line-height: 45px;
                        font-weight: normal;
                        margin: 0px 0 0 10px;
                        display: inline-block;
                    }
                    .pane-content {
                        &:after {
                            display: none;
                        }
                        display: inline-block;
                        color:white;
                        margin:10px;
                        line-height: 1.1;
                        font-size: 50px;
                    }
                }
                .pane-node-field-image-head-to-head {
                    border: none !important;  
                }
                img {
                    width: 100%;
                }
            }
            @media (max-width: 700px) {
                .panel-col-top {
                    .pane-node-title {
                        max-height: 105px;
                        h2 {
                            font-size: 25px;
                            line-height: 1;
                        }
                        .pane-content {
                            font-size: 26px;
                        }
                    }
                }
            }
            @media (max-width: 500px) {
                .panel-col-top {
                    .pane-node-title {
                        max-height: 68px;
                        h2 {
                            font-size: 22px;
                            margin-right: 5px !important;
                        }
                        .pane-content {
                            font-size: 16px;
                            margin: 0px 5px 5px 0px;
                            width: 97%;
                        }
                    }
                }
            }
        }
        
        @mixin local-center-wrapper {
            .center-wrapper {
                display: table;
                direction: ltr;
                margin-bottom: 15px;
            }
        }
        
        @mixin local-panel-col-first {
            .panel-col-first {
                padding-right: 2px;
                .panel-pane {
                    margin-right: 5px;
                    .opinion-wrapper {
                        margin-left: 5%;
                        .opinion-top-section {
                            background: #D70919;
                        }
                    }
                    .poll-button {
                        background: #D70919;
                    }
                }
            }
        }
        
        @mixin local-panel-col-last {
            .panel-col-last {
                border-left-color: gray;
                border-left-width: 2px;
                border-left-style: dotted;
                /*padding-left: 6px;*/
                margin-left: 0px;
                .panel-pane {
                    margin-left: 5px;
                    .opinion-wrapper {
                        margin-right: 5%;
                        .opinion-top-section {
                            background: #035178;
                        }
                    }
                    .poll-button {
                        background: #035178;
                    }
                }
            }
        }
        
        @mixin local-all-col {
            .panel-col-first,
            .panel-col-last {
                position: relative;
                display: table-cell;
                direction: rtl;
                float: none;
                .opinion-wrapper {
                    /*position: relative;
                margin-bottom: 50px;*/
                    .opinion-content {
                        margin-bottom: 120px;
                        margin-top: 30px;
                        div{
                            margin-bottom: 14px;
                        }
                    }
                    .opinion-top-section {
                        position: relative;
                        /*height: 125px;*/
                        width: 100%;
                        .writer-img-wrapper {
                            width: 26%;
                            display: inline-block;
                            .writer-img {
                                width: 100%;
                                /*height: 125px;*/
                            }
                        }
                        .opinion-title-wrapper {
                            overflow: hidden;
                            border: 4px solid transparent;
                            max-height: 65px;
                            position: absolute;
                            width: 65%;
                            font-size: 18px;
                            vertical-align: middle;
                            color: white;
                            display: inline-block;
                            .writer-name {
                                font-weight: bold;
                                p {
                                    display: inline-block;
                                }
                                &:after {
                                    display: inline-block;
                                    content: '//';
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
                .poll-wrapper {
                    position: absolute;
                    bottom: 40px;
                    width: 90%;
                    height: 36px;
                    vertical-align: middle;
                    text-align: center;
                    .poll-button {
                        vertical-align: top;
                        width: 47%;
                        min-width: 155px;
                        height: 100%;
                        font-size: 15px;
                        display: inline-block;
                        color: white;
                        border-radius: 0;
                        border: 0px;
                        text-shadow: none;
                    }
                    .poll-img {
                        vertical-align: top;
                        height: 100%;
                        cursor: pointer;
                        display: inline-block;
                        img {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }
            @media (max-width: 700px) {
                .panel-col-first,
                .panel-col-last {
                    width: 100%;
                    border: none;
                    padding: 0;
                    display: block;
                    .inside {
                        margin: 10px;
                        .opinion-wrapper {
                            padding: 0;
                            margin: 0;
                            .opinion-title-wrapper {
                                border: 8px solid transparent;
                            }
                            .opinion-content {
                                margin-right: 10px;
                                margin-left: 10px;
                            }
                            .poll-wrapper {
                                bottom: -50px;
                            }
                        }
                    }
                }
            }
            @media (max-width: 400px) {
                .panel-col-first,
                .panel-col-last {
                    .opinion-title-wrapper {
                        border: 4px solid transparent !important;
                        max-height: 42px !important;
                        .opinion-title {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        
        // -----------------------------------------------
        //                   content
        // -----------------------------------------------
        body.node-type-head-to-head {
            #main {
                border: 17px solid rgb(233, 234, 236);
            }
            @include local-panel-col-top;
            @include local-center-wrapper;
            @include local-panel-col-first;
            @include local-panel-col-last;
            @include local-all-col;
        }
