/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2015, 1:47:51 PM
    Author     : chani
*/
.page-image-styles-preview-try h1.title {
    left: 0;
    width: 100%;
    height: 70px;
    background: #fcfcfc;
    border-bottom: 1px solid #eee;
    text-align: center;
    line-height: 70px;
}
.page-image-styles-preview-try #edit-select-image-style {
    display: block !important;
}
.page-image-styles-preview-try #edit_select_image_style_chzn {
    display: none;
}

.cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 369px;
    height: 208px;
    cursor: move;
}

.cropit-image-background {
    opacity: .2;
    cursor: auto;
}

.image-size-label {
    margin-top: 10px;
}

input {
    /* Use relative position to prevent from being covered by image background */
    position: relative;
    z-index: 10;
    display: block;
}
/* Translucent background image */
.cropit-image-background {
    opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
input.cropit-image-zoom-input {
    position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
    overflow: hidden;
}